<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico"><!-- HtmlWebpackPlugin插件支持使用ejs模板引擎语法<%= BASE_URL %> -->
    <title>vue-webpack</title>
  </head>
  <body>
    <div id="first" style="position: absolute;top:38px;left:10px;width:60px;height:32px;background: blue;box-shadow: 2px 2px 5px 1px #c5c4c4;"></div>
    <h2 style="background: red"><%=author %></h2>   <!-- 使用HtmlWebpackPlugin插件的templateParameters函数定义的author属性值替换 -->
    <h2><%=VERSION %></h2>  <!-- 使用webpack.DefinePlugin插件定义全局变量VERSION的属性值替换 -->
    <h2><%=host %></h2>     <!-- 使用webpack.DefinePlugin插件提取本地环境变量值替换host -->
    <noscript>
      <strong>We're sorry but vue-webpack doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <div>
        <img alt="XC-2.jpg" src="<%= require('./xc-2.jpg') %>" />
        <%=require("../src/file.html") %>  <!-- 利用全局html-loader加载器以字符串导入HTML文件标签内容，再以ejs语法注入-->
    </div>
    <a href="http://webpack-demo.com:8080/web/demo.html" target="_blank" rel="noopener">demo</a>
  </body>
</html>
